# Secret environment variables
.env
.env.local
.env.*.local

# macOS system files
.DS_Store
.AppleDouble

# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Editor settings
.vscode/settings.json